
@{
    ViewBag.Title = "AdminCateg";
}

<h2>AdminCateg</h2>
<link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
<input type="button" class=" button" value="Modificar categoría" />
<input type="button" class=" button" value="Eliminar categoría" />
<input type="button" class=" button" value="Registrar categoría" />



