@{
    ViewBag.Title = "Home Page";
}

<link href="~/Styles/Home.css" rel="stylesheet" />

<img src="~/Content/logo-quien-soy.png" alt="Logo" class="Logo">

<br /> <br /><a href="@Url.Action("Jugar","Jugar")"><input class="button" type="button" value="Jugar" /></a> <br /> <br /><br /><br />
<a href="@Url.Action("JugarComoInv","Jugar")"><input class="button" type="button" value="Jugar como invitado" /></a>