
@{
    ViewBag.Title = "ModificarCategoria";
}

<h2>ModificarCategoria</h2>
<link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
<body>

    <a href="@Url.Action("AdminCateg","Home")"><input class="button" type="button" value="Modificar" /></a>
</body>
