
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/Styles/Menu desplegable.css" rel="stylesheet" />

<ul class="acorh">
    <li>
        <a href="#">Menu</a>
        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="MyAccount">Mi cuenta</a></li>
            <li><a href="LogOut">Log out</a></li>
        </ul>
    </li>
</ul>